*.gz
*.gz.png
/opera/*
/include/*
/sub/tileMap.js
/docs/*.gz
/docs/*.gz.png
/docs/li/*.gz
/docs/li/*.gz.png
/docs/mn/*.gz
/docs/mn/*.gz.png
/docs/as.js*
/docs/routes.js*
/routes.js*
/docs/draw_fav.js*
as.js*
*.bak
tinymta
node_modules
include
*/gtfs.zip
*/agency.txt
*/stops.txt
*/trips.txt
*/stop_times.txt
*/calendar.txt
*/calendar_dates.txt
*/fare_attributes.txt
*/fare_rules.txt
*/shapes.txt
*/frequencies.txt
*/transfers.txt
*/feed_info.txt
light.zip
full.zip
release.bat
