tinymta
*/gtfs.zip
*/agency.txt
*/stops.txt
*/routes.txt
*/trips.txt
*/stop_times.txt
*/calendar.txt
*/calendar_dates.txt
*/fare_attributes.txt
*/fare_rules.txt
*/shapes.txt
*/frequencies.txt
*/transfers.txt
*/feed_info.txt
